{% extends 'base.html.twig' %}

{% block body %}
    <h1>Realizar Examen</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar y Seguir" />
    {{ form_end(form) }}

{% endblock %}
