{% extends 'base.html.twig' %}

{% block body %}

{# Pedazo de codigo de barra de navegacion superior #}

<div class="top-bar foundation-5-top-bar">
  <div class="top-bar-title">    
    <strong>Royal Academy/Creacion de examenes/Manual</strong>
  </div>
</div>

  <br>
    <h1 align="center">Creaci&oacute;n de Ex&aacute;men Manual</h1>
    <h5 align="center">A continuaci&oacute;n podr&aacute; seleccionar las preguntas que desee que 
            aparezcan en el ex&aacute;men marcando la casilla a su izquierda
    </h5>
    <h5 align="center">(recuerde que el l&iacute;mite de 
            preguntas a elegir son 50), y proceda haciendo click en "Crear Examen".
    </h5>
    <br>


<br>
<br>
{# Cuerpo de la pagina #}

<h4 style="padding-left: 15px; text-align: left;">
    <span style="color: #000000;"><span style="background-color: #ffffff;">
        <span style="background-color: #000000;">
            <span style="background-color: #ffffff;">
            </span></span></span></span>
</h4>
<br>
<br>

{# Codigo de checkbox de preguntas #}


<div class="preguntas">
  <h4 class="preguntas-seleccion">
    <span class="preguntas-label">Seleccion:</span>
    Elija las preguntas que desee que formen parte del examen
  </h4>

  <br>

  <form action="examen" method="post"> 
    <div class="preguntas-options"style="padding-left: 30px">
      {% for pregunta in lstPreguntas %}
    
       <html><label><input type="checkbox" name="chkPreguntas[]" id="{{ pregunta.idpregunta }}"
             value="{{ pregunta.idpregunta }}"> 
            {{ pregunta.getDescripcion() }}</label><br></html>
      {% endfor %}
    
    </div>
    
    <br>
    
    <input type="submit" name="formSubmit" value="Crear Examen"> <br>
    </form>      
  
</div>

{% endblock %}