{% extends 'base.html.twig' %}

{% block body %}

{# Pedazo de codigo de barra de navegacion superior #}

{# <div class="top-bar foundation-5-top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <strong>Royal Academy/Creacion de examenes</strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
        <li><a href="#">Creador Manual</a></li>
        <li><a href="#">Creador Automatico</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <h4 style="text-align: right;">
        <span style="text-decoration: underline; background-color: #ffffff; color: #ffffff;">
            <strong><span style="background-color: #008000;">10/10/2019&nbsp;&nbsp;&nbsp;00:58:2</span>8</strong></span>
        </h4>
      </ul>
    </div>
  </div>
</div> #}



{# Cuerpo de la pagina #}

<h4 style="padding-left: 30px; text-align: left;">
    <span style="color: #000000;"><span style="background-color: #ffffff;">
        <span style="background-color: #000000;">
            <span style="background-color: #ffffff;">
            &nbsp;&nbsp;&nbsp; A continuaci&oacute;n podr&aacute; seleccionar las preguntas que desee que 
            aparezcan en el ex&aacute;men marcando la casilla a su izquierda (recuerde que el l&iacute;mite de 
            preguntas a elegir son 50), y proceda haciendo click en siguiente.</span></span></span></span>
</h4>




{# Codigo de checkbox #}


{% for pregunta in lstPreguntas %}
    
    <html><label><input type="checkbox" id="cboxPreg{{ pregunta.idPregunta }}" value= "On"> 
            {{ pregunta.getDescripcion() }}</label><br></html>
{% endfor %}

{% endblock %}