{% extends 'base.html.twig' %}

{% block body %}

<h4 style="text-align: right;">
    <span style="text-decoration: underline; background-color: #ffffff; color: #ffffff;">
        <strong><span style="background-color: #008000;">10/10/2019&nbsp;&nbsp;&nbsp;00:58:2</span>8</strong></span>
</h4>
<h2 style="text-align: left;">
    <span style="text-decoration: underline; background-color: #000000; color: #ffffff;">
        <strong>Gestor de creaci&oacute;n de Ex&aacute;menes</strong></span>
</h2>
<h4 style="padding-left: 30px; text-align: left;">
    <span style="color: #000000;"><span style="background-color: #ffffff;">
        <span style="background-color: #000000;">
            <span style="background-color: #ffffff;">
            &nbsp;&nbsp;&nbsp; A continuaci&oacute;n pdor&aacute; seleccionar las preguntas que desee que 
            aparezcan en el ex&aacute;men marcando la casilla a su izquierda (recuerde que el l&iacute;mite de 
            preguntas a elegir son 50), y proceda haciendo click en siguiente.</span></span></span></span>
</h4>
<table style="width: 701px;">
    <tbody>
        <tr style="height: 25px;">
            <td style="width: 25px; height: 25px;">&nbsp;</td>
            <td style="width: 700px; height: 25px;">&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>

{% endblock %}