{% extends 'base.html.twig' %}

{% block body %}
<br/>
  <div class="container" style = "margin-left: 0px !important">
    <div class="row">
      <div class="col-md-3 ">
        <div class="list-group ">
            <a href="#" class="list-group-item list-group-item-action active">Resumen</a>
            <a href="{{ path('alumno_show') }}" class="list-group-item list-group-item-action">Perfil</a>
            <a href="#" class="list-group-item list-group-item-action">Cursada</a>
            <a href="#" class="list-group-item list-group-item-action">Examenes</a>
        </div> 
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h4>Resumen</h4>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>Bienvenido!</h4> 
                <h6>Aquí puede ver y modificar sus datos e inscribirse a materias y examenes</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
{% endblock %}

