{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style = "margin-left: 0px !important">
    <h1>Corregir Examenes</h1>
    <br>
    <div class="card">
          <div class="card-body">
    <table>
        <thead>
            <tr>
                {{ form_start(form) }}
                {{ form_widget(form) }}                
                {#<input type="submit" value="Calcular" name="calc"/>#}
                {#<input type="submit" value="Efectuar" name="Efectuar"/>#}
                {{ form_end(form) }}
                {#<td>
                    <ul>
                        <li>
                         {<a href="{{ path('corrigiendo_corregir', { 'idExamenACorregir': 1,'notaMinima': notaMinima }) }}">EFECTUAR</a>}
                        </li>
                    </ul>
                </td>#}
            </tr>                                 
        </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </br>
    <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</br>
{% endblock %}
